*, html, body {
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
}

.FContainer {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: lightslategray;
    position: fixed; 
    top: 0;   
    z-index: 1; 
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    justify-content: space-between;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 50px;
    background-color: #222;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5)
}

.brand {
    display: flex;
    flex-direction:row;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;
}


.firstname{
    color: crimson;
    font-weight: 700;
    font-family:'Times New Roman' , times, serif
}


.lastname{
    font-weight: 400;
    color: white;
    padding-left: 4px;
    font-family: 'Times New Roman', Times, serif
}


.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}


.navigation>li {
    list-style-type: none;
    padding: 15px;
}


.navigation>li>a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}


.navigation>li>img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}


.navigation>li>img:hover {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    transition: all  .3s ease-in-out
}


.navigation>li>a:hover {
    color: crimson;
    transition: all  .3s ease-in-out
}


.active {
    background-color: crimson;
    color: white;
    padding: 15px;
}


.active:hover {
    color: white !important;
}


h1 {
    margin-top: 100px;
    padding: 15px;
    font-size: 35px;
    font-family: 'times new roman';
}


h2 {
    margin-top: 50px;
    padding-left: 150px;
    font-size: 35px;
    font-family: 'times new roman';
    color: rgb(92, 56, 56);
}


h4 {
    margin-top: 25px;
    padding-left: 150px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(70, 70, 70);
}


p {
    text-align: justify;
    padding-inline: 150px;
    font-size: 20px;
    text-indent: 25px;
    font-family: 'times new roman';
}


p>i {
    text-align: justify;
    font-size: 20px;
    font-family: 'times new roman';
}


p>mark {
    font-family: 'times new roman';
    color: rgb(98, 98, 98);
}


center>img {
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
}


ul.a {
    list-style-type: disc;
    list-style-position: outside;
    padding-inline: 150px;
    font-size: 20px;
    font-family: 'Times New Roman';
}

ul>li {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    color: rgb(98, 98, 98);
}


ul.b {
    list-style-type: disc;
    list-style-position: inside;
    padding-inline: 150px;
    font-size: 20px;
    font-family: 'Times New Roman';
}


ol {
    list-style-position: outside;
    padding-inline: 150px;
    font-size: 20px;
    font-family: 'Times New Roman';
}


ol>li {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    color: rgb(98, 98, 98);
}


ul>li::marker {
   color: rgb(184, 84, 84);
}


ol>li::marker {
    color: rgb(184, 84, 84);
}

iframe {
    border: #222;
    border-radius: 20px;
}

ul.b>li>a {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(98, 98, 98);
    text-decoration: none;
}